body {
	font-family: Arial, sans-serif;
	padding: 0; /* Убираем бордеры по умолчанию со всех сторон странички */
	margin: 0;  /* Убираем бордеры по умолчанию со всех сторон странички */
}

/* чтобы наш текст 2-й и 3-й строки был под контейнером логотипа и меню */
.clearfix:after {
	content:'';
	display: table;
	width: 100%;
	clear: both;
}
/* вставляем бэеграунд картинку */
header {
	background: url(../img/first-bg.jpg) no-repeat center top / cover;
	padding-bottom: 160px; /*чтобы от картинка от кнопки вниз была еще 160пикс*/
							/*отступ внутрь секции снизу*/
}
/*ширина блока от логотипа до конца горизонтальной менюшки */
.container {
	width: 930px;
	margin: 0 auto; /*выравнивание контейнеров по центру экрана*/
}
/* опускаем логотип вниз*/
.logo {
	margin-top: 41px;
	float: left;		/*выравнивание по левому краю в самом блоке */
}
/* выравнивание менюшки по правому краю блока и опускание вниз */
nav {
	float: right;
	margin-top: 50px;
}
/* убираем бордеры в самом блоке */
.menu {
	padding: 0;
	margin: 0;
	display: block;
}
/* преобразуем вертикальное меню в горизонтальное!!! */
.menu li {
	float: left; /* преобразуем вертикальное меню в горизонтальное!!! */
	display: block; /*убираем тотечки со списка */
	margin-right: 41px; /*расстояние между словами в меню */
}

.menu li a{			/*изменение цвета ссылок описывается отдельно*/
	color: #fff;
	text-decoration: none; /*убираем подчеркивание с букв*/
	text-transform: uppercase; /*большие буквы*/
	font-size: 14px;
}

.titles__first {
	font-size: 40px;
	color: #fff;
	text-transform: uppercase;
	text-align: center;
	margin: 15px;
	margin-top: 180px;
}

h1 {
	font-size: 75px;
	color: #fff;
	text-transform: uppercase;
	text-align: center;
	margin: 15; /*изменение расстояния сверху-снизу в тегах h1*/
}
.button	{
	background: #fed136; /*фон кнопки*/
	color: #484543;		/*цвет фона*/
	border-radius: 3px;	/*радиус закругления кнопки*/
	display: block;
	width: 240px;		/*ширина кнопки*/
	padding: 20px 0;	/*отступы от края*/
	margin: 0 auto;
	text-decoration: none; /*убираем подчеркивание с букв*/
	text-transform: uppercase; /*большие буквы*/
	text-align: center;
	font-weight: bold;
	font-size: 18px;
	margin-top: 50px;
}	

.title {
	padding-top: 115px; /*отступ сверху*/
}
.title h2 {
	font-size: 40px;
	font-weight: bold;
	text-align: center;
	text-transform: uppercase;
	margin: 0;
}
.title p {
	color: #777777;
	text-align: center;
	font-size: 16px;
	margin-top: 5;


}
.services {
	margin-top: 50px;
}
.services__item {
	width: 270px;
	float: left;
	text-align: center;
}

.services__item h3 {
	font-size: 18px;
	margin-bottom: 5px;
}
.services__item p {
	font-size: 14px;
	color: #777777;
	line-height: 1.55em; /*высота строки*/
}

.services__item:last-child {
	float: right;
}
.services__item:nth-child(2) {
	margin-left: 60px;
}
#services {
	padding-bottom: 120px;
}

#portfolio {
	background: #f7f7f7;
	padding-bottom: 120px;
}
.works {
	margin-top: 70px;
}

.works img {
	float: left;
}
.works img:nth-child(2) {
	margin-left: 29px;
}
	

.works img:last-child {
	float: right;
}

.about-us {
	margin-top: 80px;
}

.months-left {
	width: 330px;
	float: left;
	text-align: right;
}
.months-left h3 {
	text-transform: uppercase;
	line-height: 3px;

}

.months-left h4 {
	line-height: 10px;
	
}
.months-left p {
	font-size: 14px;
	color: #777777;
	line-height: 1.65em;
}

.picture {
	margin-left: 370px;
}

.months-right {
	width: 330px;
	float: right;
	text-align: left;
}
.months-right h3 {
	text-transform: uppercase;
	line-height: 3px;

}

.months-right h4 {
	line-height: 10px;
	
}
.months-right p {
	font-size: 14px;
	color: #777777;
	line-height: 1.55em;
}

.picture {
	margin-top: 90px;
	margin-left: 370px;
	margin-bottom: 90px;
}

.footer1 p{
	margin-top: 120px;
	color: #777777;
	font-size: 14px;
	text-align: center;
	padding-bottom: 100px;
}
